{% extends 'inner-page.html' %}

{% load static %}

{% block body %}
    <br><br><br>
    <form action="" method="POST">
    {% csrf_token %}
    <h1 class="text-center">Branch</h1>
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="enter name">


         <label for="loc" class="form-label">location</label>
        <input type="text" name="location" class="form-control" id="loc" placeholder="where are you">

         <label for="manager" class="form-label">Manager</label>
        <input type="text" name="manager" class="form-control" id="manager" >

          <label for="email" class="form-label">Email Address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="enter email">

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

{% endblock %}











